body{
    margin: 0;
    padding: 0;
 }
 .intro{
    display: flex;
    height: 100vh;
 }
 .left{
    flex: 1;
 }
 .right{
    flex: 1;
 }
 .left-wrapper{
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .name{
    font-size: 60px;
 }
 .title{
    height: 50px;
    overflow: hidden;
 }
 .title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
 }
 @keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
 }
 .title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #59b256;
}
.img{
   width: 50%;
   height: 50%;
   object-fit:fill;
   border-radius: 50%;
   image-rendering: auto;
   image-rendering: crisp-edges;
   image-rendering: pixelated;
   margin-top: 12rem;
   margin-left: -7rem;
 
   /* Safari seems to support, but seems deprecated and does the same thing as the others. */
   image-rendering: -webkit-optimize-contrast;
}

.i-bg {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #59b256;
    width: 53%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }