button {
    color: #fff;
    background: #59b256;
    border: 1px #fff solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 1.2rem;
    outline: none;
 }
  
 button:hover {
    border: 1px #59b256 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #59b256;
    background: #fff;
 }
  
 button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;  
 }
 